<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <!--
         Priamy potomek <manifest>. AppOps hľadá tag ""; v logu vyzerá ako keby
         chýbal. Literál "" aapt2 zahodí / zmení na @null, preto string resource.
    -->
    <attribution
        android:tag="@string/empty_attribution_tag"
        android:label="@string/audio_attribution_label" />
    <attribution
        android:tag="gameAudio"
        android:label="@string/audio_attribution_label" />

    <uses-feature android:name="android.hardware.touchscreen.multitouch" android:required="false" />

    <application
        android:name=".EndlessDriveApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/Theme.EndlessDrive">

        <!-- Official AdMob sample app ID; replace before publishing. -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="sensorLandscape"
            android:attributionTags="gameAudio"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|uiMode|density|locale|layoutDirection"
            android:theme="@style/Theme.EndlessDrive">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
